<!doctype html>
<html>
<head>
    <title>Millionaire</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body id= "profile_page">
  <nav>
    <a href="/user/logout"> Logout</a><a href="/game">Play</a><a href="/questions/">Add/Remove Questions</a>
  </nav>
  <div class="stats-container">
    <h1><% if(user.username === null) {%><%= user.google.name %> <%} else { %><%= user.username %> <%}%></h1>
    <ul>
      <li>
        <span>Highest Money Earned: <span><span>$<%= user.singlePrizeWinnings %></span>
      </li>
      <li>
        <span>Total Money Earned: <span><span>$<%= user.totalPrizeWinnings %></span>
      </li>
      <li>
        <span>Questions Correct: <span><span><%if(typeof user.correctQuestions !== 'undefined') {%> <%= user.correctQuestions.length %><% } else {%>  <%= 0 %> <%}%></span>
      </li>
      <li>
        <span>Questions Incorrect: <span><span><%if(typeof user.incorrectQuestions !== 'undefined') {%> <%= user.incorrectQuestions.length %><% } else {%>  <%= 0 %> <%}%></span>
      </li>
    </ul>
  </div>

<!--
<div class="container">
    <div class="page-header text-center">
        <h1><% if(user.username === null) {%><%= user.google.name %> <%} else { %><%= user.username %> <%}%> <br></h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/game" class="btn btn-default btn-sm">Play</a>
        <a href="/questions/" class="btn btn-default btn-sm">Add/Remove Questions</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <% if(user.loginMethod === 'google') {%>
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                    <%} else if (user.loginMethod === 'facebook') { %>
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <%} else {%>
                        <h3><span class="fa fa-user"></span> Local</h3>
                    <%}%>
                    <p>
                        <% if(user.username === null) {%>
                        <strong>User</strong>: <%= user.google.name %> <%} else { %> <strong>User</strong>: <%= user.username %> <%}%> <br>
                        <strong>Highest Winnings in a Game: $</strong> <%= user.singlePrizeWinnings %><br>
                        <strong>Total Winnings: $</strong> <%= user.totalPrizeWinnings %><br>
                        <strong>Questions answered correctly: </strong> <%if(typeof user.correctQuestions !== 'undefined') {%> <%= user.correctQuestions.length %><br> <% } else {%>  <%= 0 %> <%}%>
                        <strong>Questions answered incorrectly: </strong> <%if(typeof user.incorrectQuestions !== 'undefined') {%> <%= user.incorrectQuestions.length %><br> <% } else {%>  <%= 0 %> <%}%>
                    </p>
              </div>
        </div>
    </div>
</div>-->
</body>
</html>
